{% extends "base.html" %}
{% load static %}
{% load markdown %}

{% block title %}{{ interview.person.name }}{% endblock title %}

{% block wrapper %}
<div class="wrapper">
  <div class="title container interview">
    <div class="content bordered ningen">
      <div class="avatar" style="background-image:url({{ interview.avatar.url }})"></div>
      <h2 class="person name">{{ interview.person.name }}</h2>
      <span class="person title muted">{{ interview.title }} ({{ interview.company }})</span>
      <div class="meta muted">
        采访于 {{ interview.create_on }}，分类为
        {% for tag in interview.tags.all %}
        <a class="tag" href="{% url 'interview-tag-list' tag.slug %}">{{ tag.slug }}</a>
        {% empty %}
        <a class="tag" href="javascript:;">Unique</a>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="main container interview">
    <div class="content bordered ningen">
      <div class="markdown">
        {{ interview.body | markdown }}
      </div>
    </div>
  </div>
</div>
{% endblock wrapper %}